// $saatva-gold: #c19678;
$saatva-gold: #d5aa64;
$saatva-dark-grey: #6b6257;
$primary-text: rgb(59, 59, 59);
$saatva-light-background: #f6f5f3;
$saatva-light-grey: #a6a19a;
$saatva-gold-hover: #e2c492;
//Fonts
$font-family-body: "Questrial";
$font-family-accent: "Source Serif Pro";
